{%  include 'head.html' %}

    <!-- Main section -->
    <main>
        <h1>
            Welcome to the  
        </h1>
        <h1>
            Department Portal.
        </h1>
        <p>List of Course offered by Department.</p> 
        <div class="container">
            <div class="card">
                <img src="../static/IMG/Course_icon.png" alt="study_material_icon" class="card_icon">
                <h3><a href="../static/syllabus/syllabus.pdf" target="_blank">MCA</a></h3>
                <p>2 Year Regular <br>Profession Course</p>
            </div>
            <div class="card">
                <img src="../static/IMG/Course_icon.png" alt="Annoucment_icon" class="card_icon">
                <h3><a href="../static/syllabus/syllabus.pdf" target="_blank">M.SC</a></h3>
                <p>2 Year Regular course <br> Specialization in AI & ML</p>
            </div>
            <div class="card">
                <img src="../static/IMG/Course_icon.png" alt="Timetable_icon" class="card_icon">
                <h3><a href="../static/syllabus/syllabus.pdf" target="_blank">M.TECH</a></h3>
                <p>2.5 Years Part Time <br> course for working professional</p>
            </div>
            <div class="card">
                <img src="../static/IMG/Course_icon.png" alt="Contact_us_icon" class="card_icon">
                <h3><a href="../static/syllabus/syllabus.pdf" target="_blank">B.TECH</a></h3>
                <p>4 Year Regular course <br> Specialization in AI & ML</p>
            </div>
        </div>
    </main>
{% include 'footer.html' %}