<footer>
    <div class="container_footer">
        <h2 class="copy"> &copy; University Teaching Department</h2>
        <div class="social">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>
<script src="../static/JS/script.js"></script>
</body>

</html>